
.array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    bottom: 40px;
    z-index: 1;

}

.array-bar {
    width: 4px;
    background-color: rgb(238, 114, 135);
    margin: 0 2px;
    display: inline-block;
    flex-shrink: 0; 

}

.slider-container {
    position: fixed;
    z-index: 2;  
    top: 50px; 
    right: 55px;
    padding: 20px;
    background-color: rgb(23, 28, 93);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.new-array-button {
    position: fixed;
    z-index: 2;
    top: 120px;
    right: 55px;
    padding: 20px;
    width: 247px;

}

